n8n/workflows/ghost-audio-pipeline.json
{
  "name": "Ghost Article → Audio Pipeline",
  "license": "MIT",
  "licenseUrl": "https://opensource.org/licenses/MIT",
  "author": "Ayush Naik",
  "nodes": [
    {
      "id": "webhook-ghost",
      "name": "Ghost: Post Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "ghost-published",
      "parameters": {
        "httpMethod": "POST",
        "path": "ghost-published",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "hmac-validate",
      "name": "Validate HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "// Validate Ghost webhook HMAC-SHA256 signature\nconst crypto = require('crypto');\nconst secret = $env.N8N_GHOST_WEBHOOK_SECRET;\n\nif (!secret) {\n  console.warn('N8N_GHOST_WEBHOOK_SECRET not set — webhook is unauthenticated');\n  return [{json: $json}];\n}\n\nconst signature = $request.headers['x-ghost-signature'];\nif (!signature) {\n  throw new Error('Missing X-Ghost-Signature header — request rejected');\n}\n\n// Ghost signature format: \"sha256=<hex>, t=<timestamp>\"\nconst sigMatch = signature.match(/sha256=([a-f0-9]+)/);\nif (!sigMatch) {\n  throw new Error('Invalid X-Ghost-Signature format');\n}\n\nconst body = $request.rawBody;\nconst expected = crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nif (!crypto.timingSafeEqual(Buffer.from(sigMatch[1], 'hex'), Buffer.from(expected, 'hex'))) {\n  throw new Error('X-Ghost-Signature validation failed — request rejected');\n}\n\nreturn [{json: $json}];"
      }
    },
    {
      "id": "extract-metadata",
      "name": "Extract Post Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "// Extract Ghost webhook payload\nconst data = $input.first().json;\n\n// Handle manual trigger or empty payload\nif (!data || Object.keys(data).length === 0) {\n  throw new Error('Webhook triggered with no data. If testing manually, ensure you have provided a sample Ghost payload.');\n}\n\n// Ghost 5.x Structure: { \"post\": { \"current\": { ... }, \"previous\": { ... } } }\nlet post = data.post?.current || data.current || data.post || data.body?.post?.current || data.body?.post || data;\nlet previous = data.post?.previous || data.previous || data.body?.post?.previous;\n\nif (!post || !post.id || !post.url) {\n  console.error('Payload Structure Error. Keys found:', Object.keys(data).join(', '));\n  if (data.post) console.error('Post keys:', Object.keys(data.post).join(', '));\n  throw new Error(`Ghost webhook payload missing post.current.id or url. Found keys: ${Object.keys(data).join(', ')}`);\n}\n\n// Post-processing and status check\npost.slug = post.slug || `post-${post.id}`;\npost.title = post.title || 'Untitled Post';\n\n// Process if published or updated\nconst status = post.status?.toLowerCase();\nif (status && status !== 'published' && status !== 'updated') {\n  return [{ json: { skip: true, reason: `Post status is '${status}' (expected published or updated)` } }];      \n}\n\n// Helper to remove audio player from html/lexical for comparison\nconst stripAudioPlayer = (str) => {\n    if (!str) return '';\n    if (typeof str !== 'string') str = JSON.stringify(str);\n    return str.replace(/<!--kg-card-begin: html-->[\\s\\S]*?id=[\"']gn-audio-embed[\"'][\\s\\S]*?<!--kg-card-end: html-->/gi, '')\n              .replace(/<figure[^>]*>[\\s\\S]*?id=[\"']gn-audio-embed[\"'][\\s\\S]*?<\\/figure>/gi, '')\n              .replace(/<div[^>]*id=[\"']gn-audio-embed[\"'][^>]*>[\\s\\S]*?<\\/div>/gi, '')\n              .replace(/Listen to article/gi, '')\n              .replace(/Skip to content/gi, '');\n};\n\n// Check if audio already exists\nconst currentHtml = post.html || '';\nconst currentLexical = post.lexical || '';\nconst hasAudio = stripAudioPlayer(currentHtml).length < currentHtml.length - 50 ||\n                 stripAudioPlayer(currentLexical).length < currentLexical.length - 50;\n\nif (hasAudio) {\n  return [{ json: { skip: true, reason: 'Post already has audio embed' } }];\n}\n\n// Extract hostname from post URL for multi-site routing\n// n8n's vm2 sandbox doesn't expose the global URL constructor — \n// parse hostname with a regex.\nconst parseHostname = (u) => !u ? '' : String(u).replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '').replace(/:\\d+$/, '');\nconst hostname = parseHostname(post.url) || 'unknown';\n\n// Generate job ID: {siteSlug}-pid-{postId}-{slug}-{timestamp}\n// Resolve siteSlug to canonical 'site1'/'site2' for callback routing\nconst site1Url = $env.GHOST_SITE1_URL || '';\nconst site2Url = $env.GHOST_SITE2_URL || '';\nconst site1Hostname = parseHostname(site1Url);\nconst site2Hostname = parseHostname(site2Url);\nlet siteSlug;\nif (site1Hostname && hostname.includes(site1Hostname)) {\n  siteSlug = 'site1';\n} else if (site2Hostname && hostname.includes(site2Hostname)) {\n  siteSlug = 'site2';\n} else {\n  siteSlug = hostname.replace(/\\./g, '-');\n}\nconst timestamp = Date.now();\nconst generatedJobId = `${siteSlug}-pid-${post.id}-${post.slug}-${timestamp}`;\n// Honour caller-supplied backfill_job_id (used by scripts/backfill-audio.*\n// to produce a deterministic ID it can poll for); real Ghost webhooks fall\n// through to the timestamped generator above.\nconst jobId = (data.backfill_job_id || generatedJobId).substring(0, 200);\n\n// storageSlug is hostname-with-dashes, used by the TTS service to\n// organise uploads under audio/articles/<storageSlug>/. Distinct from\n// siteSlug, which stays as the canonical 'site1'/'site2' enum so the\n// callback's admin-API key lookup keeps working.\nconst storageSlug = hostname.replace(/\\./g, '-');\n\nreturn [{\n  json: {\n    skip: false,\n    postId: post.id,\n    postSlug: post.slug,\n    postTitle: post.title,\n    postUrl: post.url,\n    hostname: hostname,\n    siteSlug: siteSlug,\n    storageSlug: storageSlug,\n    jobId: jobId,\n    publishedAt: post.published_at || post.created_at\n  }\n}];"
      }
    },
    {
      "id": "check-skip",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-skipped",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        450
      ],
      "parameters": {
        "jsCode": "console.log('Skipped:', $input.first().json.reason);\nreturn $input.all();"
      }
    },
    {
      "id": "fetch-article",
      "name": "Fetch Full Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const h = $json.hostname; const s1 = $env.GHOST_SITE1_URL || ''; const s2 = $env.GHOST_SITE2_URL || ''; const parseHostname = (u) => !u ? '' : String(u).replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '').replace(/:\\d+$/, ''); const s1h = parseHostname(s1); const s2h = parseHostname(s2); return h.includes(s1h) ? s1 : h.includes(s2h) ? s2 : s1; })() }}/ghost/api/content/posts/slug/{{ $json.postSlug }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Version",
              "value": "v6.0"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ (() => { const h = $json.hostname; const s1 = $env.GHOST_SITE1_URL || ''; const s2 = $env.GHOST_SITE2_URL || ''; const parseHostname = (u) => !u ? '' : String(u).replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '').replace(/:\\d+$/, ''); const s1h = parseHostname(s1); const s2h = parseHostname(s2); return h.includes(s1h) ? ($env.GHOST_KEY_SITE1 || $vars.GHOST_KEY_SITE1) : h.includes(s2h) ? ($env.GHOST_KEY_SITE2 || $vars.GHOST_KEY_SITE2) : ($env.GHOST_KEY_SITE1 || $vars.GHOST_KEY_SITE1); })() }}"
            },
            {
              "name": "formats",
              "value": "plaintext"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "prepare-text",
      "name": "Prepare Article Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst post = item.posts?.[0];\n\nif (!post) {\n  throw new Error('Could not fetch article from Ghost API');\n}\n\n// Clean up the plaintext\nlet text = post.plaintext || '';\ntext = text.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nif (!text) {\n  throw new Error('Post has no plaintext content - cannot generate audio');\n}\n\n// Get metadata from previous node\nconst meta = $('Extract Post Metadata').first().json;\n\nreturn [{\n  json: {\n    jobId: meta.jobId,\n    siteSlug: meta.siteSlug,\n    postTitle: post.title,\n    postSlug: post.slug,\n    articleText: text,\n    wordCount: text.split(/\\s+/).length,\n    ttsAuthHeader: 'Bearer ' + $env.TTS_API_KEY\n  }\n}];"
      }
    },
    {
      "id": "submit-tts",
      "name": "Submit TTS Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TTS_SERVICE_URL }}/tts/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.ttsAuthHeader }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.articleText, job_id: $json.jobId, site_slug: $json.storageSlug }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('TTS Job submitted:', result);\nif (result.error || result.detail) {\n  throw new Error('TTS service rejected job: ' + (result.error || result.detail));\n}\nreturn [{ json: { success: true, ...result } }];"
      }
    }
  ],
  "connections": {
    "Ghost: Post Published": {
      "main": [
        [
          {
            "node": "Validate HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Metadata": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Fetch Full Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Article": {
      "main": [
        [
          {
            "node": "Prepare Article Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Article Text": {
      "main": [
        [
          {
            "node": "Submit TTS Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit TTS Job": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC Signature": {
      "main": [
        [
          {
            "node": "Extract Post Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "ghost-narrator"
  }
}
