n8n/workflows/ghost-audio-pipeline.json
{
  "name": "Ghost Article → Audio Pipeline",
  "license": "MIT",
  "licenseUrl": "https://opensource.org/licenses/MIT",
  "author": "Ayush Naik",
  "nodes": [
    {
      "id": "webhook-ghost",
      "name": "Ghost: Post Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "ghost-published",
      "parameters": {
        "httpMethod": "POST",
        "path": "ghost-published",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "extract-metadata",
      "name": "Extract Post Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "// Extract Ghost webhook payload\nconst data = $input.first().json;\n\n// Handle manual trigger or empty payload\nif (!data || Object.keys(data).length === 0) {\n  throw new Error('Webhook triggered with no data. If testing manually, ensure you have provided a sample Ghost payload.');\n}\n\n// Ghost 5.x Structure: { \"post\": { \"current\": { ... }, \"previous\": { ... } } }\n// We also handle flattened or nested structures for maximum compatibility\nlet post = data.post?.current || data.current || data.post || data.body?.post?.current || data.body?.post || data;\nlet previous = data.post?.previous || data.previous || data.body?.post?.previous;\n\nif (!post || !post.id || !post.url) {\n  console.error('Payload Structure Error. Keys found:', Object.keys(data).join(', '));\n  if (data.post) console.error('Post keys:', Object.keys(data.post).join(', '));\n  throw new Error(`Ghost webhook payload missing post.current.id or url. Found keys: ${Object.keys(data).join(', ')}`);\n}\n\n// Post-processing and status check\npost.slug = post.slug || `post-${post.id}`;\npost.title = post.title || 'Untitled Post';\n\n// Process if published or updated\nconst status = post.status?.toLowerCase();\nif (status && status !== 'published' && status !== 'updated') {\n  return [{ json: { skip: true, reason: `Post status is '${status}' (expected published or updated)` } }];      \n}\n\n// Helper to remove audio player from html/lexical for comparison\nconst stripAudioPlayer = (str) => {\n    if (!str) return '';\n    if (typeof str !== 'string') str = JSON.stringify(str);\n    return str.replace(/<!--kg-card-begin: html-->[\\s\\S]*?id=[\"']gn-audio-embed[\"'][\\s\\S]*?<!--kg-card-end: html-->/gi, '')\n              .replace(/<figure[^>]*>[\\s\\S]*?id=[\"']gn-audio-embed[\"'][\\s\\S]*?<\\/figure>/gi, '')\n              .replace(/<div[^>]*id=[\"']gn-audio-embed[\"'][^>]*>[\\s\\S]*?<\\/div>/gi, '')\n              .replace(/Listen to article/gi, '')\n              .replace(/Speed/gi, '')\n              .replace(/\\s+/g, ' ')\n              .trim();\n};\n\n// Edge Case: Check if this is an update and if relevant content actually changed\nif (previous && Object.keys(previous).length > 0) {\n  // If it's a transition to 'published' from another status (e.g., 'draft'), it's a new publish. We should process it.\n  const isNewlyPublished = previous.hasOwnProperty('status') && previous.status !== 'published' && status === 'published';\n  \n  // Check if title or slug changed\n  const metaChanged = previous.hasOwnProperty('title') || previous.hasOwnProperty('slug');\n  \n  // Check if content changed, ignoring the audio player embed itself (prevent infinite loops from our own updates)\n  let contentChanged = false;\n  const contentFields = ['html', 'mobiledoc', 'lexical', 'plaintext'];\n  \n  for (const field of contentFields) {\n      if (previous.hasOwnProperty(field)) {\n          const oldVal = stripAudioPlayer(previous[field]);\n          const newVal = stripAudioPlayer(post[field]);\n          if (oldVal !== newVal) {\n              contentChanged = true;\n              break;\n          }\n      }\n  }\n  \n  if (!isNewlyPublished && !metaChanged && !contentChanged) {\n    return [{ json: { skip: true, reason: 'Post updated, but no relevant content (title, content, slug) changed. (Ignored audio player embed changes to prevent loops)' } }];\n  }\n}\n\n// Extract hostname for site-specific logic\nlet siteBase = '';\nlet hostname = 'unknown-site';\ntry {\n  const urlMatch = post.url.match(/^(https?:\\/\\/([^\\/]+))/);\n  if (urlMatch) {\n    siteBase = urlMatch[1];\n    hostname = urlMatch[2];\n  }\n} catch (e) {\n  console.error('Failed to parse URL:', post.url);\n}\n\nconst siteSlug = hostname.replace(/\\./g, '-');\n// Use backfill_job_id from payload when provided (backfill script passes a deterministic ID\n// so it can poll for completion). For live Ghost publishes, generate a timestamp-based ID\n// so content updates always get a fresh TTS job instead of hitting the completed cache.\nconst jobId = data.backfill_job_id || data.body?.backfill_job_id || `${siteSlug}-pid-${post.id}-${post.slug}-${Date.now()}`;\n\nreturn [{\n  json: {\n    skip: false,\n    postId: post.id,\n    postSlug: post.slug,\n    postTitle: post.title,\n    postUrl: post.url,\n    siteBase,\n    siteSlug,\n    hostname,\n    jobId,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "check-skip",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-skipped",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        450
      ],
      "parameters": {
        "jsCode": "console.log('Skipped:', $input.first().json.reason);\nreturn $input.all();"
      }
    },
    {
      "id": "fetch-article",
      "name": "Fetch Full Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const h = $json.hostname; const s1 = $env.GHOST_SITE1_URL || ''; const s2 = $env.GHOST_SITE2_URL || ''; const s1h = s1 ? new URL(s1).hostname : ''; const s2h = s2 ? new URL(s2).hostname : ''; return h.includes(s1h) ? s1 : h.includes(s2h) ? s2 : s1; })() }}/ghost/api/content/posts/slug/{{ $json.postSlug }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Version",
              "value": "v6.0"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ (() => { const h = $json.hostname; const s1 = $env.GHOST_SITE1_URL || ''; const s2 = $env.GHOST_SITE2_URL || ''; const s1h = s1 ? new URL(s1).hostname : ''; const s2h = s2 ? new URL(s2).hostname : ''; return h.includes(s1h) ? ($env.GHOST_KEY_SITE1 || $vars.GHOST_KEY_SITE1) : h.includes(s2h) ? ($env.GHOST_KEY_SITE2 || $vars.GHOST_KEY_SITE2) : ($env.GHOST_KEY_SITE1 || $vars.GHOST_KEY_SITE1); })() }}"
            },
            {
              "name": "formats",
              "value": "plaintext"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "prepare-text",
      "name": "Prepare Article Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst post = item.posts?.[0];\n\nif (!post) {\n  throw new Error('Could not fetch article from Ghost API');\n}\n\n// Clean up the plaintext\nlet text = post.plaintext || '';\ntext = text.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nif (!text) {\n  throw new Error('Post has no plaintext content - cannot generate narration');\n}\n\n// Get metadata from previous node\nconst meta = $('Extract Post Metadata').first().json;\n\nreturn [{\n  json: {\n    jobId: meta.jobId,\n    siteSlug: meta.siteSlug,\n    postTitle: post.title,\n    postSlug: post.slug,\n    articleText: text,\n    wordCount: text.split(/\\s+/).length\n  }\n}];"
      }
    },
    {
      "id": "convert-narration",
      "name": "Convert to Narration (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.LLM_MODEL_NAME, max_tokens: 8192, temperature: 0.3, chat_template_kwargs: { enable_thinking: false }, messages: [{ role: 'system', content: 'OUTPUT ONLY the final narration text. Do not explain what you are doing. Do not describe the task. Do not write any preamble, meta-commentary, or reasoning. Your response must begin directly with the first spoken word of the narration.\\n\\nYou are an expert audio script adapter. Rewrite the article below as spoken audio narration.\\n\\nCONTENT PRESERVATION — MOST IMPORTANT RULE:\\n- You MUST include ALL information from the original article. Every argument, example, statistic, anecdote, section, and detail must appear in the narration.\\n- Do NOT summarise, condense, skip, or omit any content. Cover the full article from beginning to end.\\n- If the article has ten sections, your narration must cover all ten sections.\\n- The narration must be approximately the same length as the original article in terms of information covered.\\n\\nAUDIO ADAPTATION RULES (apply without removing content):\\n- Write in flowing, connected paragraphs. Never use bullet points, numbered lists, or markdown formatting.\\n- Each sentence must be complete and self-contained but flow naturally into the next. Aim for sentences of 15-25 words.\\n- Connect related ideas using commas and conjunctions (and, but, so, because, which means) rather than splitting into separate sentences.\\n- Replace ALL of the following with spoken equivalents:\\n  Em dashes become commas or and.\\n  Parentheses become spoken asides or are removed.\\n  Colons introducing lists become spoken transitions such as there are three things, first... second... and third...\\n  Smart quotes and special punctuation become plain equivalents.\\n  Percentages become X percent.\\n  Dollar amounts become X dollars or X million dollars.\\n  Numbers with commas become spoken form (1,234 becomes one thousand two hundred and thirty-four; 50,000 becomes fifty thousand).\\n  Abbreviations are spelled out on first use (CEO becomes Chief Executive Officer, AI becomes Artificial Intelligence).\\n  URLs are removed entirely.\\n  Click here, See figure, and Read more are removed entirely.\\n- Group 3-4 related sentences into natural paragraph-length thoughts. Separate distinct topics with a complete concluding sentence.\\n- Begin with a 1-2 sentence spoken hook that introduces the topic and draws the listener in.\\n- End with a 2-3 sentence closing thought that ties everything together.\\n- Write as if speaking to a smart, engaged listener.' }, { role: 'user', content: $json.articleText }] }) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "parse-narration",
      "name": "Parse Narration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "jsCode": "let script = $input.first().json.choices?.[0]?.message?.content || '';\n\nif (!script) {\n  throw new Error('LLM returned empty narration');\n}\n\n// Strip Qwen3 thinking blocks if present\nscript = script.replace(/<think>[\\s\\S]*?<\\/think>/gi, '');\n\n// Strip common LLM meta-commentary lines that appear before the actual content.\n// These are lines where the model talks ABOUT the task rather than doing it.\nconst metaPatterns = [\n  /^(okay|alright|sure|certainly|of course)[,.].*$/im,\n  /^(the user wants|the user is asking|i need to|i should|i will|i'll|let me|let's|first,? i|now,? i).*$/im,\n  /^(converting|rewriting|transforming|here is|here's|below is|the following|this is).*?(narration|script|podcast|article|text).*$/im,\n  /^(key (rules|points|things)|important:|note:|rule \\d)/im,\n  /^(I have (converted|rewritten|created)|This is (a|the) (narration|script)).*$/im,\n  /^Here is the (narration|script|podcast version).*$/im\n];\n\n// Split into lines, filter out meta-commentary, rejoin\nconst lines = script.split('\\n');\nconst cleanLines = lines.filter(line => {\n  const trimmed = line.trim();\n  if (!trimmed) return true; // keep blank lines\n  return !metaPatterns.some(pattern => pattern.test(trimmed));\n});\n\nscript = cleanLines.join('\\n').trim();\n\n// NEW: Strip remaining markdown characters that can cause hallucination/stuttering in TTS\nscript = script.replace(/[#*_~>]/g, '');\n\n// Remove any leading/trailing whitespace or blank lines\nscript = script.replace(/^\\s+/, '').replace(/\\s+$/, '');\n\nif (!script) {\n  throw new Error('Narration text is empty after cleanup - LLM may have only returned meta-commentary');\n}\n\n// Get context from previous nodes\nconst meta = $('Prepare Article Text').first().json;\n\nreturn [{\n  json: {\n    jobId: meta.jobId,\n    siteSlug: meta.siteSlug,\n    postTitle: meta.postTitle,\n    postSlug: meta.postSlug,\n    narrationText: script,\n    wordCount: script.split(/\\s+/).length\n  }\n}];"
      }
    },
    {
      "id": "submit-tts",
      "name": "Submit TTS Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TTS_SERVICE_URL }}/tts/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.narrationText, job_id: $json.jobId, site_slug: $json.siteSlug }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('TTS Job submitted:', result);\nif (result.error || result.detail) {\n  throw new Error('TTS service rejected job: ' + (result.error || result.detail));\n}\nreturn [{ json: { success: true, ...result } }];"
      }
    }
  ],
  "connections": {
    "Ghost: Post Published": {
      "main": [
        [
          {
            "node": "Extract Post Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Metadata": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Fetch Full Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Article": {
      "main": [
        [
          {
            "node": "Prepare Article Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Article Text": {
      "main": [
        [
          {
            "node": "Convert to Narration (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Narration (LLM)": {
      "main": [
        [
          {
            "node": "Parse Narration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Narration": {
      "main": [
        [
          {
            "node": "Submit TTS Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit TTS Job": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ghost-narrator"
  }
}