n8n/workflows/static-content-audio-pipeline.json
{
  "name": "Static Content → Audio Pipeline",
  "license": "MIT",
  "licenseUrl": "https://opensource.org/licenses/MIT",
  "author": "Ayush Naik",
  "nodes": [
    {
      "id": "webhook-static",
      "name": "Static Content: Audio Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "static-content-audio",
      "parameters": {
        "httpMethod": "POST",
        "path": "static-content-audio",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "validate-input",
      "name": "Validate & Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\n\nif (!data.plain_text || !data.plain_text.trim()) {\n  throw new Error('Missing required field: plain_text');\n}\nif (!data.job_id) {\n  throw new Error('Missing required field: job_id');\n}\nif (!data.gcs_path) {\n  throw new Error('Missing required field: gcs_path');\n}\n\nconst text = data.plain_text.replace(/\\n{3,}/g, '\\n\\n').trim();\nconst wordCount = text.split(/\\s+/).length;\n\nif (wordCount < 50) {\n  return [{ json: { skip: true, reason: `Content too short (${wordCount} words)` } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    jobId: data.job_id,\n    gcsPath: data.gcs_path,\n    chapterTitle: data.chapter_title || '',\n    articleText: text,\n    wordCount\n  }\n}];"
      }
    },
    {
      "id": "check-skip",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-skipped",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450],
      "parameters": {
        "jsCode": "console.log('Skipped:', $input.first().json.reason);\nreturn $input.all();"
      }
    },
    {
      "id": "convert-narration",
      "name": "Convert to Narration (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VLLM_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.VLLM_MODEL_NAME, max_tokens: 8192, temperature: 0.3, chat_template_kwargs: { enable_thinking: false }, messages: [{ role: 'system', content: 'OUTPUT ONLY the final narration text. Do not explain what you are doing. Do not describe the task. Do not write any preamble, meta-commentary, or reasoning. Your response must begin directly with the first spoken word of the narration.\\n\\nYou are an expert audio script adapter. Rewrite the article below as spoken audio narration.\\n\\nCONTENT PRESERVATION — MOST IMPORTANT RULE:\\n- You MUST include ALL information from the original article. Every argument, example, statistic, anecdote, section, and detail must appear in the narration.\\n- Do NOT summarise, condense, skip, or omit any content. Cover the full article from beginning to end.\\n- If the article has ten sections, your narration must cover all ten sections.\\n- The narration must be approximately the same length as the original article in terms of information covered.\\n\\nAUDIO ADAPTATION RULES (apply without removing content):\\n- Write in flowing, connected paragraphs. Never use bullet points, numbered lists, or markdown formatting.\\n- Each sentence must be complete and self-contained but flow naturally into the next. Aim for sentences of 15-25 words.\\n- Connect related ideas using commas and conjunctions (and, but, so, because, which means) rather than splitting into separate sentences.\\n- Replace ALL of the following with spoken equivalents:\\n  Em dashes become commas or and.\\n  Parentheses become spoken asides or are removed.\\n  Colons introducing lists become spoken transitions such as there are three things, first... second... and third...\\n  Smart quotes and special punctuation become plain equivalents.\\n  Percentages become X percent.\\n  Dollar amounts become X dollars or X million dollars.\\n  Numbers with commas become spoken form.\\n  Abbreviations are spelled out on first use.\\n  URLs are removed entirely.\\n  Click here, See figure, and Read more are removed entirely.\\n- Group 3-4 related sentences into natural paragraph-length thoughts.\\n- Begin with a 1-2 sentence spoken hook that introduces the topic and draws the listener in.\\n- End with a 2-3 sentence closing thought that ties everything together.\\n- Write as if speaking to a smart, engaged listener.' }, { role: 'user', content: $json.articleText }] }) }}",
        "options": { "timeout": 300000 }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 15000
    },
    {
      "id": "parse-narration",
      "name": "Parse Narration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "jsCode": "let script = $input.first().json.choices?.[0]?.message?.content || '';\n\nif (!script) {\n  throw new Error('LLM returned empty narration');\n}\n\nscript = script.replace(/<think>[\\s\\S]*?<\\/think>/gi, '');\n\nconst metaPatterns = [\n  /^(okay|alright|sure|certainly|of course)[,.].*$/im,\n  /^(the user wants|the user is asking|i need to|i should|i will|i'll|let me|let's|first,? i|now,? i).*$/im,\n  /^(converting|rewriting|transforming|here is|here's|below is|the following|this is).*?(narration|script|podcast|article|text).*$/im,\n  /^(key (rules|points|things)|important:|note:|rule \\d)/im,\n  /^(I have (converted|rewritten|created)|This is (a|the) (narration|script)).*$/im,\n  /^Here is the (narration|script|podcast version).*$/im\n];\n\nconst lines = script.split('\\n');\nconst cleanLines = lines.filter(line => {\n  const trimmed = line.trim();\n  if (!trimmed) return true;\n  return !metaPatterns.some(pattern => pattern.test(trimmed));\n});\n\nscript = cleanLines.join('\\n').replace(/[#*_~>]/g, '').trim();\n\nif (!script) {\n  throw new Error('Narration text is empty after cleanup');\n}\n\nconst meta = $('Validate & Extract Input').first().json;\n\nreturn [{\n  json: {\n    jobId: meta.jobId,\n    gcsPath: meta.gcsPath,\n    narrationText: script,\n    wordCount: script.split(/\\s+/).length\n  }\n}];"
      }
    },
    {
      "id": "submit-tts",
      "name": "Submit TTS Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TTS_SERVICE_URL }}/tts/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.narrationText, job_id: $json.jobId, gcs_path: $json.gcsPath }) }}",
        "options": { "timeout": 600000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst meta = $('Validate & Extract Input').first().json;\nconsole.log(`TTS job submitted: ${meta.jobId} → gs://YOUR_BUCKET/${meta.gcsPath}`);\nif (result.error || result.detail) {\n  throw new Error('TTS service rejected job: ' + (result.error || result.detail));\n}\nreturn [{ json: { success: true, jobId: meta.jobId, gcsPath: meta.gcsPath, ...result } }];"
      }
    }
  ],
  "connections": {
    "Static Content: Audio Request": {
      "main": [[{ "node": "Validate & Extract Input", "type": "main", "index": 0 }]]
    },
    "Validate & Extract Input": {
      "main": [[{ "node": "Should Process?", "type": "main", "index": 0 }]]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Convert to Narration (LLM)", "type": "main", "index": 0 }],
        [{ "node": "Log Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Convert to Narration (LLM)": {
      "main": [[{ "node": "Parse Narration", "type": "main", "index": 0 }]]
    },
    "Parse Narration": {
      "main": [[{ "node": "Submit TTS Job", "type": "main", "index": 0 }]]
    },
    "Submit TTS Job": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "instanceId": "ghost-narrator"
  }
}
