n8n/workflows/static-content-audio-pipeline.json
{
  "name": "Static Content → Audio Pipeline",
  "license": "MIT",
  "licenseUrl": "https://opensource.org/licenses/MIT",
  "author": "Ayush Naik",
  "nodes": [
    {
      "id": "webhook-static",
      "name": "Static Content: Audio Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "static-content-audio",
      "parameters": {
        "httpMethod": "POST",
        "path": "static-content-audio",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "validate-input",
      "name": "Validate & Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\n\nif (!data.plain_text || !data.plain_text.trim()) {\n  throw new Error('Missing required field: plain_text');\n}\nif (!data.job_id) {\n  throw new Error('Missing required field: job_id');\n}\nif (!data.storage_path) {\n  throw new Error('Missing required field: storage_path');\n}\n\nconst text = data.plain_text.replace(/\\n{3,}/g, '\\n\\n').trim();\nconst wordCount = text.split(/\\s+/).length;\n\nif (wordCount < 50) {\n  return [{ json: { skip: true, reason: `Content too short (${wordCount} words)` } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    jobId: data.job_id,\n    storagePath: data.storage_path,\n    chapterTitle: data.chapter_title || '',\n    articleText: text,\n    wordCount\n  }\n}];"
      }
    },
    {
      "id": "check-skip",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-skipped",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450],
      "parameters": {
        "jsCode": "console.log('Skipped:', $input.first().json.reason);\nreturn $input.all();"
      }
    },
    {
      "id": "submit-tts",
      "name": "Submit TTS Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TTS_SERVICE_URL }}/tts/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.articleText, job_id: $json.jobId, storage_path: $json.storagePath }) }}",
        "options": { "timeout": 600000 }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst meta = $('Validate & Extract Input').first().json;\nconsole.log(`TTS job submitted: ${meta.jobId} with storage path: ${meta.storagePath}`);\nif (result.error || result.detail) {\n  throw new Error('TTS service rejected job: ' + (result.error || result.detail));\n}\nreturn [{ json: { success: true, jobId: meta.jobId, storagePath: meta.storagePath, ...result } }];"
      }
    }
  ],
  "connections": {
    "Static Content: Audio Request": {
      "main": [[{ "node": "Validate & Extract Input", "type": "main", "index": 0 }]]
    },
    "Validate & Extract Input": {
      "main": [[{ "node": "Should Process?", "type": "main", "index": 0 }]]
    },
    "Should Process?": {
      "main": [
        [{ "node": "Submit TTS Job", "type": "main", "index": 0 }],
        [{ "node": "Log Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Submit TTS Job": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "ghost-narrator"
  }
}
